/* ---------------------------------------------------
   MAIN NAVBAR CONTAINER
--------------------------------------------------- */
.navbar {
  position: fixed;
  top: 0;
  left: -1;
  width: 99%;
  height: 70px;

  display:inline-flex;
  /* justify-content: space-between; */
  align-items: center;

  padding: 12px 20px;
  /* box-sizing: border-box; */

  background-color: #282254;
  color: #ffffff;
  font-family: sans-serif;

  z-index: 1000;
}

/* Flex groups */
/* .navbar-group {
  display: flex;
  align-items: center;
  gap: 15px;
} */

/* Search box */
/* .search-box {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 5px;
} */

/* .search-input {
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 8px 10px;
  font-size: 16px;
  outline: none;
  width: 200px;
} */

/* .search-input::placeholder {
  color: #b0b0b0;
} */

/* .search-icon-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
} */



.location-name {
  padding-right: 5px;
}



/* Toggle buttons */
.toggle-btn {
  border: 1px solid #555;
  background: transparent;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  /* justify-content: end; */
  /* display: inline; */
}

.toggle-btn:hover {
  background-color: #747a81;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 2;                /* 🔥 takes remaining space */
}

/* RIGHT buttons */
.toggles-group {
  display: flex;
  gap: 10px;
  flex-shrink: 0;         /* 🔥 prevents shrinking */
}

