/* Full page
.app-root {
  min-height: 100%;
  background: linear-gradient(135deg, #4b4773, #5b5787);
} */

/* Area below navbar */
.content-area {
  display: flex;
  justify-content:center; /* 👉 move card to RIGHT */
  /* padding: 30px 40px; */
  height: 100vh;
align-items: center;
}
