.major-cities-container {
  margin-top: 10px;
  /* justify-content: space-between; */
}

.current-weather-box {
  width: 250px;
  /* background: rgba(255, 255, 255, 0.06); */
  background-color: transparent;
  border-radius: 10px;
  display: inline-flex; 
  justify-items: left ;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border: 1px solid #555;
  padding: 8px 15px;
  gap: 8px;

}

.location-name {
  font-size: 10px;
  font-weight: 500;
}

.more-options-btn {
  background: transparent;
  border: x;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
