.major-cities-container {
  margin-top: 20px;
  /* justify-content: space-between; */
}

.current-weather-box {
  width: 325px;
  /* background: rgba(255, 255, 255, 0.06); */
  background-color: transparent;
  border-radius: 10px;
  display: inline-flex; 
  /* justify-items: left ; */
  align-items: center;
  color: #fff;
  cursor: pointer;
  border: 1px solid #555;
  padding: 8px 15px;
  gap: px;

}

.location-name {
  font-size: 12px;
  font-weight: 500;
}


